<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.0" targetFramework="net47" />
  <package id="DynamoVisualProgramming.Core" version="2.6.0.8481" targetFramework="net47" />
  <package id="DynamoVisualProgramming.DynamoServices" version="2.6.0.8481" targetFramework="net47" />
  <package id="DynamoVisualProgramming.ZeroTouchLibrary" version="2.6.0.8481" targetFramework="net47" />
  <package id="Humanizer.Core" version="2.7.9" targetFramework="net47" />
  <package id="Markov" version="2.0.0" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net47" />
  <package id="NUnit" version="2.6.3" targetFramework="net47" />
  <package id="Prism" version="4.1.0.0" targetFramework="net47" />
</packages>